<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Shamcey">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/shamcey/img/shamcey-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/shamcey">
    <meta property="og:title" content="Shamcey">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/shamcey/img/shamcey-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/shamcey/img/shamcey-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">


    <title>Nouvel abonnement (2)</title>

    <!-- vendor css -->
    <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet">
    <link th:href="@{/lib/Ionicons/css/ionicons.css}" rel="stylesheet" >
    <link th:href="@{/lib/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet" >
    <link th:href="@{/lib/select2/css/select2.min.css}" rel="stylesheet" >
    <link th:href="@{/lib/spectrum/spectrum.css}" rel="stylesheet" >

    <!-- Shamcey CSS -->
    <link rel="stylesheet" th:href="@{/css/shamcey.css}" >
  </head>

  <body>
	<div class="sh-logopanel" th:replace="public/dashboard.html :: app-logopanel"  ></div>  
	
	<div class="sh-sideleft-menu bg-white" style="margin:0; padding:0;" th:fragment="app-sideleft-menu" >	
		<div class="card card-tab mg-t-20 bg-white"  style="margin:0; padding:0;" >  
           <div class="card-body">
              <div id="tabUsers" class="tab-pane bg-white active">
      			<div class="media-list">
                    <a href="" class="media" >
                     	<span class="text-secondary" ><i class="text-secondary" ></i>1. Informations personnelles</span>
                    </a><!-- media -->
                    <a href="" class="media" >
                     	<span class="text-secondary" >2. Confirmation de l'adresse e-mail</span>
                    </a><!-- media -->
                    <a href="" class="media bg-primary text-white" >
                     	<span class="text-white" >3. Paramètres de connexion</span>
                    </a><!-- media -->
                    <a href="" class="media">
                     	<span class="text-secondary" >4. Paiement des frais d'abonnement</span>
                    </a><!-- media -->
                  </div><!-- media-list -->
			  </div><!-- tabUsers -->
              
		  </div><!-- card-body tab-content -->
		</div>  <!-- sh-sideleft-menu -->
    </div><!-- sh-sideleft-menu -->   
    
    <div class="sh-headpanel" th:replace="public/dashboard.html :: app-sh-headpanel"  ></div> 
    
    <div class="sh-mainpanel">
      <div class="sh-breadcrumb">
        <nav class="breadcrumb"></nav>
      </div><!-- sh-breadcrumb -->
      <div class="sh-pagetitle">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn"><i class="fa fa-search"></i></button>
          </span><!-- input-group-btn -->
        </div><!-- input-group -->
        <div class="sh-pagetitle-left" >
          <div class="sh-pagetitle-title">          
            <h2 class="text-primary" >Abonnement - Paramètres de connexion</h2>
            <span></span>
          </div><!-- sh-pagetitle-left-title -->
        </div><!-- sh-pagetitle-left -->
      </div><!-- sh-pagetitle -->

      <div class="sh-pagebody">
		  <div class="card bd-primary border border-white" >
          <div class="card-header bg-primary tx-white" >Paramètres de connexion</div>
          <div class="card-body pd-sm-30" >
            <div class="form-layout" >
            	<form th:action="@{/public/abonne/parametres-connexion}" method="post"  >
              		<div class="row mg-b-25">
                		<div class="col-lg-4">
                  			<div class="form-group">
                  				<input class="form-control" type="hidden" name="id" th:value="${idAbonne}"  >
                    			<label class="form-control-label">Adresse e-mail : <span class="tx-danger">*</span></label>
                    			<input class="form-control" type="text" name="email" th:value="${emailAbonne}" readonly >
                  			</div>
                		</div><!-- col-4 -->
                		<div class="col-lg-4">
                  			<div class="form-group">
                    			<label class="form-control-label" >Mot de passe : <span class="tx-danger">*</span></label>
                    			<input class="form-control" type="password" name="password" placeholder="Saisir votre mot de passe" >
                  			</div>
                		</div><!-- col-4 -->
                		<div class="col-lg-4">
                  			<div class="form-group mg-b-10-force">
                    			<label class="form-control-label" >Confirmer du mot de passe : <span class="tx-danger">*</span></label>
                    			<input class="form-control" type="password" name="password2" placeholder="Confirmer votre mot de passe" >
                  			</div>
                		</div><!-- col-4 -->               		
                	</div><!-- row -->
              		<div class="form-layout-footer float-right">
                 		<a th:href="@{/}" class="btn btn-secondary" >Annuler</a>
                 		<button class="btn btn-success mg-r-5">Enregistrer</button>
              		</div><!-- form-layout-footer -->
              </form><!-- form -->	
            </div><!-- form-layout -->
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- sh-pagebody -->
      
      <hr class="mg-y-30">
      
      <div class="sh-footer" th:replace="public/dashboard.html :: app-sh-footer"  ></div>  
    </div><!-- sh-mainpanel -->

    <script src="../lib/jquery/jquery.js"></script>
    <script src="../lib/popper.js/popper.js"></script>
    <script src="../lib/bootstrap/bootstrap.js"></script>
    <script src="../lib/jquery-ui/jquery-ui.js"></script>
    <script src="../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../lib/moment/moment.js"></script>
    <script src="../lib/select2/js/select2.min.js"></script>
    <script src="../lib/spectrum/spectrum.js"></script>

    <script src="../js/shamcey.js"></script>
    <script>
      $(function(){

        'use strict';

        $('.select2').select2({
          minimumResultsForSearch: Infinity
        });

        // Select2 by showing the search
        $('.select2-show-search').select2({
          minimumResultsForSearch: ''
        });

        // Select2 with tagging support
        $('.select2-tag').select2({
          tags: true,
          tokenSeparators: [',', ' ']
        });

        // Datepicker
        $('.fc-datepicker').datepicker({
          showOtherMonths: true,
          selectOtherMonths: true
        });

        $('#datepickerNoOfMonths').datepicker({
          showOtherMonths: true,
          selectOtherMonths: true,
          numberOfMonths: 2
        });

        // Color picker
        $('#colorpicker').spectrum({
          color: '#17A2B8'
        });

        $('#showAlpha').spectrum({
          color: 'rgba(23,162,184,0.5)',
          showAlpha: true
        });

        $('#showPaletteOnly').spectrum({
            showPaletteOnly: true,
            showPalette:true,
            color: '#DC3545',
            palette: [
                ['#1D2939', '#fff', '#0866C6','#23BF08', '#F49917'],
                ['#DC3545', '#17A2B8', '#6610F2', '#fa1e81', '#72e7a6']
            ]
        });

      });
    </script>
  </body>
</html>
